:root {
  --primary-color: green;
  --secondary-color: rgba(0, 128, 0, 0.411);
  --text-color: black;
  --background-color: rgba(0, 128, 0, 0.226);
  --nav-background-color: #f2f2f2;
  --main-font-family: "Montserrat", sans-serif;
}

html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

@media screen and (min-width: 768px) {
  aside {
    align-content: center;
    border-bottom: 0.09em solid var(--primary-color);
    border-top: none;
    border-right: none;
    border-left: none;
    padding: 1em;
  }

  h1 {
    color: green;
    margin: 18px 50px;
    width: 700px;
    text-align: center;
    font-size: px;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    justify-content: space-between;
    padding: 0.6em;
    margin: 0.1em;
  }

  ul>li {
    grid-auto-columns: auto;
    list-style: none;
    text-align: center;
    align-content: center;
    width: 100%;
    padding: 0.3em;
  }

  li a {
    text-decoration: none;
    font-size: 100%;
    color: var(--primary-color);
  }

  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 70px;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 50px;
  }

  figure {
    border: 1px solid green;
    padding: 30px;
    border-radius: 10px;
    width: 600px !important;
  }

  h2,
  h3 {
    font-size: 20px;
    color: rgb(0, 0, 0);
  }

  section {
    border: 1px solid green;
    padding: 30px;
    text-align: center;
    align-self: center;
  }

  #video-title {
    color: rgb(0, 0, 0);
    text-align: center;
  }

  video {
    padding: 10px;
  }

  #scroll-down {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 50%;
    cursor: pointer;
    width: 22px;
    height: 20px;
    margin: 10px;
  }

  #scroll-down:hover {
    background-color: green;
    border: 1px solid green;
  }
}



@media screen and (max-width: 768px) {
  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 400px;
  }

  aside {
    align-content: center;
    border-bottom: 0.09em solid var(--primary-color);
    border-top: none;
    border-right: none;
    border-left: none;
    padding: 0.8em;
  }

  h1 {
    font-size: 20px;
    text-align: left;
  }

  h2,
  h3 {
    font-size: 16px;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    justify-content: space-between;
    padding: 0.6em;
    margin: 0.1em;
  }

  ul>li {
    grid-auto-columns: auto;
    list-style: none;
    text-align: center;
    align-content: center;
    width: 100%;
    padding: 0.3em;
  }

  li a {
    text-decoration: none;
    font-size: 100%;
    color: var(--primary-color);
  }

  #scroll-down {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 10px;
    background-color: rgba(0, 128, 0, 0.5);
    border-radius: 50%;
    cursor: pointer;
    width: 22px;
    height: 20px;
    margin: 10px;
  }

  #video-title {
    color: rgb(0, 0, 0);
    width: 400px;
    text-align: center;
  }
}