html {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  background-color: #f2f2f2;
  padding: 10px;
  grid-row: 1;
  grid-column: 1;
}

ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  padding: 0;
}

li {
  padding: 5px;
  margin: 0 20px;
  list-style-type: none;
  font-weight: bold;
  text-align: center;
  
}

a {
  text-decoration: none;
  font-size: 16px;
  color: green;
  font-weight: bold;
}

article p {
  text-align: justify;
  width: 700px;
  padding: 15px;
  background-color: rgb(188, 236, 219);
  border-radius: 7px;
}

article {
  flex: 1;
}

a:hover {
  color: rgb(0, 0, 0);
}

#submit {
  background-color: green;
  color: white;
  padding: 8px 20px;
  border: 0;
  border-radius: 5px;
  width: 200px;
}

#submit:hover {
  background-color: black;
}

input {
  width: 350px;
  padding: 8px;
  margin: 5px 5px 0 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

input:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgb(188, 236, 219);
}

label {
  font-weight: bold;
  color: rgb(23, 71, 55);
}

fieldset {
  margin: 20px;
}

#openPopup{
  font-weight: bold;
  font-size: 19px;
  background-color: rgba(0, 128, 0, 0.212);
  font-family: 'Montserrat', sans-serif;
  color: green;
  padding: 8px;
  border-left: 3px solid green;
  border-top: none;
  border-right: none;
  border-bottom: none;
  cursor: pointer;
  border-radius: 0px 7px 7px 0px;
}

#openPopup:hover {
  color: black;
  border-left: 3px solid green;
  border-top: none;
  border-right: none;
  border-bottom: none;
}

#popup {
  border: 0.5px solid green;
  background-color: #ffffff;
  border-radius: 7px;
}

#popup p {
  padding: 10px;
  font-weight: bolder;
  color: rgba(0, 0, 0, 0.733);
}