:root {
  --primary-color: green;
  --secondary-color: rgba(0, 128, 0, 0.411);
  --text-color: black;
  --background-color: rgba(0, 128, 0, 0.226);
  --nav-background-color: #f2f2f2;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

main,
header {
  align-items: center;
  justify-content: space-between;
}

header {
  grid-column: 1 / span 4;
  align-self: center;
  padding: 1em;
}

main {
  display: grid;
  grid-template-rows: auto;
  grid-column: 1 / span 3;
  margin: 2em;
}

@media (max-width: 768px) {
  /* for mobile screens*/
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 25%);
    grid-template-rows: repeat(auto-fit, minmax(80px, 1fr));
  }

  main,
  header {
    grid-auto-rows: auto;
    align-items: center;
    justify-content: space-between;
  }

  main {
    display: grid;
    grid-template-rows: auto;
    grid-column: span 4;
  }
}

body {
  font-family: "Montserrat", sans-serif;
}

.menu-header {
  align-content: center;
  border-bottom: 0.09em solid green;
  border-top: none;
  border-right: none;
  border-left: none;
}

.menu-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  justify-content: space-between;
  padding: 0.6em;
  margin: 0.1em;
}

.menu-list-item {
  grid-auto-columns: auto;
  list-style: none;
  text-align: center;
  align-content: center;
  width: 100%;
}

.menu-list-item a {
  text-decoration: none;
  font-size: 100%;
  color: var(--primary-color);
}

.card-content {
  background-color: var(--background-color);
  border-radius: 7px;
  padding: 1em;
  line-height: 1.5;
}

#nav-top {
  color: var(--primary-color);
  padding: 0.6em;
  margin: 0.3em;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  border-radius: 0.2em;
  border-left: 0.2em solid var(--primary-color);
  width: 22%;
  background-color: var(--background-color);
}

#nav-top:hover,
a:hover {
  color: var(--text-color);
}
