:root {
  --primary-color: green;
  --secondary-color: rgba(0, 128, 0, 0.411);
  --text-color: black;
  --background-color: rgba(0, 128, 0, 0.226);
  --nav-background-color: #f2f2f2;
  --main-font-family: "Montserrat", sans-serif;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto-fit, minmax(3em, 1fr));
  width: 100%;
}

header, main {
  grid-auto-rows: auto;
  align-items: center;
  justify-content: space-between;
}

main {
  grid-column: 1 /span 3;
  grid-row: 2;
  margin: 1em;
}

header {
  align-self: center;
  padding: 0.7em;
  grid-column: 1 / span 3;
}

@media (max-width: 768px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 34%);
    grid-template-rows: repeat(auto-fit, minmax(80px, 1fr));
    width: 100%;
  }

  main {
    grid-column: 1 / span 3;
    margin: 0;
  }

  #table-title {
    font-size: 1.1em !important;
    padding: 0.8em !important;
    width: 40% !important;
  }

  .table-caption {
    font-family: var(--main-font-family);
    width: 40% !important;
    margin-top: 0 !important;
  }

  table {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
}

body {
  font-family: var(--main-font-family);
}

.menu-header {
  align-content: center;
  border-bottom: 0.09em solid var(--primary-color);
  border-top: none;
  border-right: none;
  border-left: none;
}

.menu-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  justify-content: space-between;
  padding: 0.6em;
  margin: 0.1em;
}

.menu-list-item {
  grid-auto-columns: auto;
  list-style: none;
  text-align: center;
  align-content: center;
  width: 100%;
  padding: 0.3em;
}

.menu-list-item a {
  text-decoration: none;
  font-size: 100%;
  color: var(--primary-color);
}

#table-title {
  font-size: 1.1em;
  margin-left: 2em;
  color: var(--primary-color);
  padding: 0.9em;
  border-radius: 0.2em;
  border-left: 0.2em solid var(--primary-color);
  border-top: none;
  border-right: none;
  border-bottom: none;
  background-color: var(--background-color);
  width: 20%;
}

.table-caption {
  padding: 0.3em;
  border: 0.1em solid var(--primary-color);
  width: 22%;
  margin: 0 1em 1em 1em;
  border-radius: 0.2em;
  text-align: middle;
  margin-left: 2em;
}